<li class="list-item">
  <span class="folder" (click)="toggle()">
    <img class="icon" [src]="folderUrl" alt="folder">

    <span *ngIf="!isCreating" (click)="click(node)">{{node?.text}}</span>
  </span>

  <button class="btn" *ngIf="config.allowAdd && !isCreating" (click)="add()">add</button>

  <button class="btn" *ngIf="config.allowRemove || isCreating" (click)="remove(node)">remove</button>

  <button class="btn" *ngIf="hasChildren && config.escalation && !isCreating" (click)="toggle(config.escalation)">
    {{node.expanded ? 'collapse' : 'expand'}} all
  </button>

  <!--TODO: onblur event conflicts with cancel button click event (blur)="save(nodeText.value, 13, $event.relatedTarget.id)"-->
  <input #nodeText type="text" *ngIf="isCreating" (keydown)="save(node, nodeText.value, $event.keyCode)" />

  <ul *ngIf="node.expanded && hasChildren">
    <text-tree-node *ngFor="let child of node?.children" [node]="child" [parentComponent]="this" (onCreated)="onCreatedHandler($event)"
      (onCreating)="onCreatingHandler($event)" (onRemoved)="onRemovedHandler($event)" (onClick)="onClickHandler($event)" [config]="config"></text-tree-node>
  </ul>
</li>