<li class="list-item">
  <span>
    <span class="folder" (click)="toggle(node)">
      <span
        class="icon"
        aria-label="folder"
        [style.fill]="config.color"        
        [inlineSVG]="iconUrl">
      </span>

      <span 
        *ngIf="!isCreating" 
        (click)="click()"
        [ngClass]="selected ? 'selected-node' : ''">
        {{node?.text}}
      </span>
    </span>

    <span
      class="tooltip-right"
      *ngIf="config.allowAdd && !isCreating"
      [style.fill]="config.color"
      (click)="add()"
      [inlineSVG]="'../../assets/icons/add.svg'"
      data-tooltip="Add child item">
    </span>

    <span
      class="tooltip-right"
      *ngIf="config.allowRemove || isCreating"
      [style.fill]="config.color"
      (click)="remove(node)"
      [inlineSVG]="'../../assets/icons/remove.svg'"
      data-tooltip="Remove item">
    </span>

    <span
      class="tooltip-right"
      *ngIf="hasChildren && config.escalation && !isCreating"
      [style.fill]="config.color"
      (click)="toggle(node, config.escalation)"
      [inlineSVG]="'../../assets/icons/' + (node.expanded ? 'collapse' : 'expand') + '.svg'"
      [attr.data-tooltip]="node.expanded ? 'Collapse' : 'Expand'">
    </span>
  </span>


  <!--TODO: onblur event conflicts with cancel button click event (blur)="save(nodeText.value, 13, $event.relatedTarget.id)"-->
  <input #nodeText type="text" *ngIf="isCreating" (keydown)="save(node, nodeText.value, $event.keyCode)" />

  <ul *ngIf="node.expanded && hasChildren">
    <text-tree-node *ngFor="let child of node?.children" [node]="child" [parentComponent]="this" (onCreated)="onCreatedHandler($event)"
                    (onCreating)="onCreatingHandler($event)" (onRemoved)="onRemovedHandler($event)" (onClick)="onClickHandler($event)" [config]="config"></text-tree-node>
  </ul>
</li>
