<li class="list-item">
  <a href="#" (click)="toggle(node)">
    <span *ngIf="node.expanded && hasChildren">-</span>
    <span *ngIf="!node.expanded && hasChildren">+</span>
    <!--It just makes indent for the items without children nodes. TODO: figure something else out.-->
    <span *ngIf="!hasChildren" style="visibility: hidden">*</span>
    <!--TODO: probably I should move the style separate css file-->
  </a>

  <!--TODO: consider the another event for checkbox instead of click-->

  <label class="node-label" [style.fill]="config.color">
    <input
      class="checkbox"
      type="checkbox"
      name="checkNode"
      (change)="check(node)"
      [(ngModel)]="node.checked">
    <span [inlineSVG]="iconUrl"></span>
    {{node?.text}}
  </label>

  <!--TODO: onblur event conflicts with cancel button click event (blur)="save(nodeText.value, 13, $event.relatedTarget.id)"-->
  <input #nodeText type="text" *ngIf="isCreating" (keydown)="save(node, nodeText.value, $event.keyCode)" />

  <span
    class="tooltip-right"
    *ngIf="config.allowAdd && !isCreating"
    [style.fill]="config.color"
    (click)="add()"
    [inlineSVG]="'../../assets/icons/add.svg'"
    data-tooltip="Add child item">
  </span>

  <span
    class="tooltip-right"
    *ngIf="config.allowRemove || isCreating"
    [style.fill]="config.color"
    (click)="remove(node)"
    [inlineSVG]="'../../assets/icons/remove.svg'"
    data-tooltip="Remove item">
  </span>

  <span
    class="tooltip-right"
    *ngIf="node.children?.length && config.escalation && !isCreating"
    [style.fill]="config.color"
    (click)="toggle(node, config.escalation)"
    [inlineSVG]="'../../assets/icons/' + (node.expanded ? 'collapse' : 'expand') + '.svg'"
    [attr.data-tooltip]="node.expanded ? 'Collapse' : 'Expand'">
  </span>

  <ul *ngIf="node.expanded && hasChildren">
    <check-tree-node *ngFor="let child of node?.children" [node]="child" (onCreating)="onCreatingHandler($event)" (onRemove)="onRemoveHandler($event)"
                     (onRemoved)="onRemovedHandler($event)" (onCreated)="onCreatedHandler($event)" (onClick)="onClickHandler($event)" 
                     (onChecked)="onCheckedHandler($event)" (onToggle)="onToggleHandler()" [config]="config"></check-tree-node>
  </ul>
</li>
