<ul [ngSwitch]="config.mode">
    <li class="list-item" *ngIf="config.allowAdd || config.escalation">
        <span
          class="tooltip-right"
          *ngIf="config.allowAdd"
          [style.fill]="config.color"
          (click)="add()"
          [inlineSVG]="'../../assets/icons/add.svg'"
          data-tooltip="Add child item">
        </span>

        <span
          class="tooltip-right"
          *ngIf="config.escalation"
          [style.fill]="config.color"
          (click)="toggleAll(true)"
          [inlineSVG]="'../../assets/icons/' + (expanded ? 'collapse' : 'expand') + '.svg'"
          [attr.data-tooltip]="(expanded ? 'Collapse' : 'Expand') + ' all'">
        </span>
    </li>
    <div *ngSwitchCase="'simple'">
        <text-tree-node *ngFor="let child of nodes" [node]="child" [parentComponent]="this" (onCreated)="onCreatedHandler($event)"
            (onCreating)="onCreatingHandler($event)" (onRemove)="onRemoveHandler($event)" (onRemoved)="onRemovedHandler($event)" 
            (onClick)="onClickHandler($event)" (onToggle)="onToggleHandler()" [config]="config"></text-tree-node>
    </div>
    <div *ngSwitchCase="'check'">
        <check-tree-node *ngFor="let child of nodes" [node]="child" [parentComponent]="this" (onCreated)="onCreatedHandler($event)"
            (onCreating)="onCreatingHandler($event)" (onRemoved)="onRemovedHandler($event)" (onClick)="onClickHandler($event)"
            (onChecked)="onCheckHandler($event)" (onToggle)="onToggleHandler()" [config]="config"></check-tree-node>
    </div>
</ul>
