<li>
  <a href="#" (click)="toggle()">
    <span *ngIf="node.expanded && hasChildren">-</span>
    <span *ngIf="!node.expanded && hasChildren">+</span>
    <!--It just makes indent for the items without children nodes. TODO: figure something else out.-->
    <span *ngIf="!hasChildren" style="visibility: hidden">*</span>
    <!--TODO: probably I should move the style separate css file-->
  </a>

  <!--TODO: consider the another event for checkbox instead of click-->
  <input id="checkNode" type="checkbox" name="checkNode" (change)="check(node)" [(ngModel)]="node.checked">
  <label for="checkNode">{{node?.text}}</label>

  <!--TODO: onblur event conflicts with cancel button click event (blur)="save(nodeText.value, 13, $event.relatedTarget.id)"-->
  <input #nodeText type="text" *ngIf="isCreating" (keydown)="save(node, nodeText.value, $event.keyCode)" />

  <!--TODO: replace this shity "add" word with some icon-->
  <button class="btn" *ngIf="config.allowAdd && !isCreating" (click)="add()">add</button>

  <button class="btn" *ngIf="config.allowRemove || isCreating" (click)="remove(node)">remove</button>

  <button class="btn" *ngIf="node.children?.length && config.escalation && !isCreating" (click)="toggle(config.escalation)">
    {{node.expanded ? 'collapse' : 'expand'}} all
  </button>

  <ul *ngIf="node.expanded && hasChildren">
    <check-tree-node *ngFor="let child of node?.children" [node]="child" [parentComponent]="this" (onCreating)="onCreatingHandler($event)" (onRemoved)="onRemovedHandler($event)"
      (onCreated)="onCreatedHandler($event)" (onClick)="onClickHandler($event)" (onChecked)="onCheckedHandler($event)" [config]="config"></check-tree-node>
  </ul>
</li>